<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><%= image_tag "Logo1.png", class: "homepage-logo" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to t("global.menu.home"), root_path, :class => 'nav-link' %><span class="sr-only">(current)</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">DIY</a>
      </li>
      <li class="nav-item">
        <%= link_to t("global.menu.library"), documents_path, :class => 'nav-link' %>
      </li>
    
        <% if current_parent %>
        <li class="nav-item">
          <%= link_to t("global.menu.sign_out"), parent_sign_out_path, method: :delete, class: 'nav-link' %>
        </li>
        <% elsif current_teacher %>
         <li class="nav-item">
          <%= link_to t("global.menu.sign_out"), teacher_sign_out_path, method: :delete, class: 'nav-link' %>
        </li>
        <% else %>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t ("global.menu.log_in") %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to t("global.menu.teacher"), teacher_sign_in_path, :class => 'dropdown-item' %>
          <%= link_to t("global.menu.parent"), parent_sign_in_path, :class => 'dropdown-item' %>
        </div>
      </li>
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t ("global.menu.new_user") %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to t("global.menu.teacher"), new_teacher_path, :class => 'dropdown-item' %>
          <%= link_to t("global.menu.parent"), new_parent_path, :class => 'dropdown-item' %>
        </div>
      </li>
      <% end %>

    </ul>

    <ul class="navbar-nav navbar-right">
      <% if current_parent %>
        <li class="nav-item">
          <%= link_to t("global.menu.new-project"), new_diyproject_path, class: 'btn-custom' %>
        </li>
        <% elsif current_teacher %>
         <li class="nav-item">
          <%= link_to t("global.menu.new_document"), new_document_path, class: 'btn-custom' %>
        </li>
        <% end %>
       <li class="nav-item">
          <%= link_to_unless_current flag_icon(:lt), locale: "lt" %>
          <%= link_to_unless_current flag_icon(:gb), locale: "en" %>
          <%= link_to_unless_current flag_icon(:es), locale: "es" %>
          <%= link_to_unless_current flag_icon(:gr), locale: "gr" %>
          <%= link_to_unless_current flag_icon(:pt), locale: "pt" %>
        </li>
    </ul>
  </div>
</nav>
