
<div class="container diyproject-showpage">
<div align="center">
	<h1><%= @diyproject.title %></h1>
<br/>
<%= @diyproject.description %>
</div>

<% if @diyproject.images.attached? %>
	<div class="card-columns">
		<% @diyproject.images.each do |image| %>
			<%= link_to image, 'data-lightbox': 'image' do %>
  			<%= image_tag image.variant(resize: "400x400").processed, class: "card diy-image" %>
  			<% end %>
  		<%= link_to "Delete Image", delete_image_attachment_diyproject_url(image), method: :delete, data: {confirm: "Are you sure?"} if @diyproject.parent %>
  <% end %>
  </div>
<% end %>
</div>