<div class="homepage-image">
<div class="image-info">
	<h1>Few words about main idea of this website</h1>
	<button class="btn btn-custom2">Learn More</button>
</div>
	
</div>


<!-- <div class="image-wrapper">
<img src="/assets/PC2.png" class="responsive">
	<h2 class="image-information">Virtual teachers' room, network among EU teachers, a virtual library</h2>
</div>

</div> -->






<h1><%= t ".title" %></h1>
<h1><%= t ".title" %></h1>
<h1><%= t ".title" %></h1>
<h1><%= t ".title" %></h1>
<h1><%= t ".title" %></h1>
<h1><%= t ".title" %></h1>




