<%= render 'shared/errors', obj: @parent %>

<div class="col-md-6 offset-md-3">

	<div class="signup-form">

		<h2><%= t ".title" %></h2><br/>

<%= simple_form_for @parent, :html => { :multipart => true } do |f| %>
<div class="form-inputs">
<%= f.input :parent_name, required: true, autofocus: true %>
<%= f.input :parent_country, required: true, collection: [ "Portugal", "Lithuania", "Spain", "Greece" ] %>
<%= f.input :email, required: true %>
<%= f.input :password, required: true %>
<%= f.input :password_confirmation, required: true %>
</div>

<div class="form-actions">
<%= f.button :submit, class: "btn-custom" %>
</div>
<% end %>
</div>

</div>